<div>
  <select onchange="window.location.href = this.value;">
    <option value="/">Explore WGBH Collections</option>
    <% Collection.each do |collection|  %>
      <option value="/collections/<%= collection.path %>">
        <%= collection.title %>
      </option>
    <% end %>
  </select>
</div>