<div class="container top">

  <div class="row">
    <div class="col-md-6">
      <p class="head">WGBH Collection</p>
      <h1 class="col-md-offset-2">NOVA</h1>
    </div>
    <div class="col-md-6 pull-right blurb">
      Over 50 years of<br/>
      volcanoes, blackholes, and Einstein<br/>
      from WGBH Boston
    </div>
  </div>

</div>

<br/>

<div class="container">

  <div class="row">  
    
    <div class="col-md-11 pull-left" id="home-left">
      TODO: Mockup has a gallery here, but I think we decided we needed more descriptive
      text about how the collection works?
    </div>
    
    <div class="col-md-4" id="home-right">
      <p>TODO: Is this right? Same search options as on the homepage?
        Or maybe we don't want to steer folks in that direction?</p>
 
      <%= render partial: 'shared/sidebar' %>

    </div>
    
  </div>
</div>
