<div class="container top">

  <div class="row">
    <div class="col-md-6">
      <p class="head">WGBH Collection</p>
      <h1 class="col-md-offset-2"><%=  @collection.title %></h1>
    </div>
    <div class="col-md-6 pull-right blurb">
      TODO: Do we want<br/>
      anything over here?
    </div>
  </div>

</div>

<br/>

<div class="container">

  <div class="row">  
    
    <div class="col-md-11 pull-left" id="home-left">
      <%= @collection.body_html.html_safe %>
    </div>
    
    <div class="col-md-4" id="home-right">
      <p>TODO: Is this right? Same search options as on the homepage?
        Or maybe we don't want to steer folks in that direction?</p>
 
      <%= render partial: 'shared/sidebar' %>

    </div>
    
  </div>
</div>
