<h1>
  <%= @about.title %>
</h1>

<div class="container">
  <div class="row">  
    <div class="col-md-7">
      <%= @about.main_html.html_safe %>
      
      <form method="POST" action="/contact_us">
        <label>Subject</label>
        <input type="select" name="subject">
          <option value="Order digital file with burned in time code of WGBH Program"/>
          <option value="TODO"/>
        </input>
        
        <label>Name</label>
        <input name="name"/>
        
        <label>Your Message</label>
        <textarea name="message"></textarea>
        
        <input class="pull-right" type="submit"/>
      </form>
    </div>
    <%= render partial: 'shared/helpful_links'  %>
  </div>
</div>