<h1>
  <%= @about.title %>
</h1>

<div class="container">
  <div class="row">  
    <div class="col-md-7 body">
      <%= @about.main_html.html_safe %>
      
      <iframe src="https://docs.google.com/forms/d/1Zw4Ypf5YU-qDZIVpUmrP9loB1Ix7V2cfvb3TQXhUU9M/viewform?embedded=true" width="660" height="750" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
    <%= @about.links_html.html_safe  %>
  </div>
</div>