<div class="call_to_action">
  <div class="head">
    Need help finding the perfect clip?
  </div>
  <div class="body">
    <div class="well">
      <a href="#TODO">
        <img src="/arrow.png" style="float: right;"/>
        License Footage from WGBH Programs
      </a>
    </div>
    <div class="well">
      <a href="#TODO">
        <img src="/arrow.png" style="float: right;"/>
        Search WGBH Interviews and more
        from WGBH Archives &ldquo;Open Vault&rdquo;
      </a>
    </div>
    <div class="well">
      <img src="/arrow.png" style="float: right;"/>
      <input placeholder="Search over 10,000 WGBH clips online" onchange="alert('TODO');"/>
    </div>
  </div>
</div>