<div class="call_to_action">
  <div class="head hidden-md">
    Need help finding WGBH Content?
  </div>
  
  <div class="body">

    <div class="col-md-4">
      <div class="well">
        <a href="/about/research" class="cta-link">License Footage from WGBH Programs</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <%= render partial: 'shared/search' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <a href="http://openvault.wgbh.org/" class="cta-link">Search WGBH Interviews and more from WGBH Archives &ldquo;Open Vault&rdquo;</a>
      </div>
    </div>
    
  </div>
  
</div>
