<div class="call_to_action">
  <div class="head">
    Need help finding the perfect clip?
  </div>
  
  <div class="body">

    <div class="col-md-4">
      <div class="well">
        <a href="#TODO">
          <span>License Footage from WGBH Programs</span>
          <span><img src="/arrow.png"/></span>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <a href="/collections/open-vault">
          <span>Search WGBH Interviews and more
          from WGBH Archives &ldquo;Open Vault&rdquo;</span>
          <span><img src="/arrow.png"/></span>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <%= render partial: 'shared/search' %>
      </div>
    </div>
    
  </div>
  
</div>