<nav id="footer" class="navbar">
  <div class="container-fluid">
    <p class="head">
      <% About.all.each_with_index do |about,i| %>
        <%= link_to(about.title, "/about/#{about.path}") %>
        &nbsp; | &nbsp;
      <% end %>
      <%= link_to('Privacy Policy', '/legal/privacy_policy') %>
      &nbsp; | &nbsp;
      <%= link_to('Terms & Conditions', '/legal/terms_of_use') %>
    </p>
    <p>
      Copyright 2015 WGBH Educational Foundation. All rights reserved.
    </p>
  </div>
</nav>    
