<nav class="navbar">
  <div class="container-fluid">
    <p class="head">
      <a href="#">About Us</a> |
      <a href="#">Rates and Policies</a> |
      <a href="#">Help</a> |
      <a href="#">Research Request</a> |
      <a href="#">Contact Us</a> |
      <a href="#">Newsletter</a>
    </p>
    <p>
      Copyright 2015 WGBH Educational Foundation. All rights reserved.<br/>
      <a href="#">Privacy Policy</a> |
      <a href="#">Terms &amp; Conditions</a>
    </p>
  </div>
</nav>    
