<nav class="navbar">
  <div class="container-fluid">
    <p class="head">
      <a href="/about/TODO">About Us</a> |
      <a href="/about/TODO">Rates and Policies</a> |
      <a href="/about/TODO">Help</a> |
      <a href="/about/TODO">Research Request</a> |
      <a href="/about/TODO">Contact Us</a> |
      <a href="/about/TODO">Newsletter</a>
    </p>
    <p>
      Copyright 2015 WGBH Educational Foundation. All rights reserved.<br/>
      <a href="/about/TODO">Privacy Policy</a> |
      <a href="/about/TODO">Terms &amp; Conditions</a>
    </p>
  </div>
</nav>    
