<nav class="navbar">
  <div class="container-fluid">
    <p class="head">
      <% About.all.each_with_index do |about,i| %>
        <%= ' | ' unless i==0 %>
        <a href="/about/<%= about.path %>"><%= about.title %></a>
      <% end %>
    </p>
    <p>
      Copyright 2015 WGBH Educational Foundation. All rights reserved.<br/>
      <a href="/about/TODO">Privacy Policy</a> |
      <a href="/about/TODO">Terms &amp; Conditions</a>
    </p>
  </div>
</nav>    
