<!--  "Search over 10,000 WGBH clips online" -->

<%

placeholder ||= "Search over 10,000 WGBH clips online"

%>

<form action="/catalog">
  <input type="submit" value="" style="
         background-image: url(/icon-search.png);
         background-repeat: no-repeat;
         background-size: contain;
         background-color: #FFF;
         border: none;
         float: right;
         height: 2em;
         width: 2em;" />
  <input placeholder="<%= placeholder %>" name="q"/>
</form>