<!--  "Search over 10,000 WGBH clips online" -->

<%

placeholder ||= "Search over 10,000 WGBH clips online"

%>

<form action="/catalog">
  <input type="submit" value="" />
  <input placeholder="<%= placeholder %>" name="q"/>
</form>