<%

placeholder ||= "Search 10,000+ Clips"

%>

<div class="search_form">
  <form action="/catalog">
      <input placeholder="<%= placeholder %>" name="q"/>
      <input type="submit" value=""/>
      <div style="clear:both;"></div>
  </form>
</div>