<div id="masthead">
  <div class="container">
    <div class="row top-row">
      <div class="col-md-8">
        <img src="logo-big.png" alt="WGBH Stock Sales &amp; Licensing"
             style="height: 90px;"/>
             <%# TODO: inline style to match height of tagline. Something better? %>
      </div>
      <div class="col-md-4 pull-right tagline hidden-sm hidden-xs">
        <%# Line breaks to give us three even lines. %>
        Over 50 years of footage,<br/>
        educational media, and web content<br/>
        from WGBH Boston
      </div>
    </div>

    <div class="row no-gutter">
      <div class="col-md-8">
        <video src="https://s3.amazonaws.com/wgbhstocksales.org/content/Sales_homepage_reel_10072015_1200Kbps_480p.mp4" autoplay loop style="width: 100%;" onclick="this.paused ? this.play() : this.pause();" oncontextmenu="return false;">
        </video>
      </div>

      <div class="col-md-4">
        <%= render partial: 'shared/call_to_action' %>
      </div>
    </div>    

  </div>

</div> <!-- END <div id="masthead"> -->
