<div id="masthead">
  <div class="container">
    <div class="row top-row">
      <div class="col-md-8">
        <img src="logo-big.png" alt="WGBH Stock Sales &amp; Licensing"
             style="height: 90px;"/>
             <%# TODO: inline style to match height of tagline. Something better? %>
      </div>
      <div class="col-md-4 pull-right tagline">
        Over 50 years of<br/>
        footage, images, and web content<br/>
        from WGBH Boston
      </div>
    </div>

    <div class="row no-gutter">
      <div class="col-md-8">
        <!-- TODO: Replace with masthead video. -->
        <img width="100%" src="http://placehold.it/770x433" />
      </div>

      <div class="col-md-4">
        <%= render partial: 'shared/call_to_action' %>
      </div>
    </div>    

  </div>

</div> <!-- END <div id="masthead"> -->