<div id="masthead">
  <div class="container">
    <div class="row top-row">
      <div class="col-md-8">
        <img src="logo-big.png" alt="WGBH Stock Sales &amp; Licensing"/>
      </div>
      <div class="col-md-4 pull-right blurb">
        Over 50 years of<br/>
        footage, images, and web content<br/>
        from WGBH Boston
      </div>
    </div>

    <div class="row no-gutter">
      <div class="col-md-8">
        <!-- TODO: Replace with masthead video. -->
        <img width="100%" src="https://s3.amazonaws.com/wgbhstocksales.org/content/Muslim+Protester_348x196.png" />
      </div>

      <div class="col-md-4">
        <div class="sidebox">
          <div class="well">
            <div class="head">
              Need help finding the perfect clip?
            </div>
            <div class="body">
              <!-- TODO: replace with actual buttons. -->
              BUTTONS GO HERE
            </div>
          </div>
        </div>
      </div>
    </div>    

  </div>

</div> <!-- END <div id="masthead"> -->