<div class="container">

  <div class="row">
    <div class="col-md-6">
      <img src="logo-big.png" alt="WGBH Stock Sales &amp; Licensing"/>
    </div>
    <div class="col-md-6 pull-right" style="
        font-family: serif;
        font-size: 25px;
        font-style: italic;
        color: #FFF;">
      Over 50 years of<br/>
      footage, images, and web content<br/>
      from WGBH Boston
    </div>
  </div>

</div>
<div>
  <img src="http://placehold.it/1225x230">
</div>

<br/>

<div class="container">

  <div class="row">

    <div class="col-md-11" id="home-left">
      <div class="well">
        <div class="head">
          Explore WGBH Collections
        </div>
      </div>
      <div class="row">
        <% @collections.each do |collection| %>
          <div class="col-md-5">
            <a href="<%= collection[:href] %>" class="thumb">
              <%# TODO: Get rid of BRs and do it the right way. %>
              <img src="<%= collection[:img_src] %>"><br/>
              <%= collection[:name] %><br/><br/>
            </a>
          </div>
        <% end %>
      </div>
    </div>  

    <div class="col-md-4" id="home-right">

      <div class="well">
        <div class="head">
          Search Digital Archive
        </div>
        <div class="body">
          <form action="#">
            <%# TODO: Get rid of BRs and do it the right way. %>
            <div>
              <input type="text" placeholder="enter keyword" class="col-md-15"></input>
            </div>
            <br/><br/>
            <div>
              <input type="submit" value="Footage" class="btn btn-primary btn-sm col-md-7"/>
              <input type="button" value="Images" class="btn btn-sm col-md-7 pull-right"/>
            </div>
            <br/><br/>
            <div>
              The digital archive is only a small portion of what we offer.
              Can't find what you are looking for?
              <a href="mailto:stock_sales@wgbh.org">Contact us!</a>
            </div>
          </form>
        </div>
      </div>

      <div class="well">
        <div class="head">
          Free Research
        </div>
        <div class="body">
          <p>
            Don't feel like searching?<br/>
            Let us research our collections for you!
          </p>
          <p style="text-align: center;">
            <a class="btn btn-sm btn-primary" href="mailto:stock_sales@wgbh.org">Request</a>
          </p>
        </div>
      </div>

      <div class="well">
        <div class="head">
          How to Order
        </div>
        <div class="body">
          ...
        </div>
      </div>

    </div>  
  </div>
</div>
