<%
# default to 1 column, and only allow up to 4
columns ||= 1
columns = [columns.to_i, 4].min
bootstrap_colspan = 12 / columns
%>


<div class="row field-list">
  <% field_list.in_groups(columns) do |field_group| %>
    <div class="col-md-<%= bootstrap_colspan %>">
      <dl>
        <% field_group.each do |field| %>
          <% unless field.nil? %>
            <dt><%= field[:label] %></dt>
            <dd><%= field[:value] %></dd>
          <% end %>
        <% end %>
      </dl>
    </div>
  <% end %>
</div>