<div class='row'>
  <div class='pull-left col-md-4'>
    <%= render partial: 'shared/search' %>
  </div>
  
  <div class='pull-right col-md-8' style='text-align: right;'>
    Didn&rsquo;t find what you were looking for?  Please <a href="/about/contact_us">contact us</a>! 
  </div>
</div>