<div class='row search-header-form-and-contact'>
  <div class='pull-left col-md-4'>
    <%= render partial: 'shared/search' %>
  </div>
  
  <div class='pull-right contact-link'>
    Can&rsquo;t find it online?
    <a href="/about/contact_us">Contact us!</a>
  </div>
</div>