<div class='row search-header-form-and-contact'>
  <div class='pull-left col-md-4'>
    <%= render partial: 'shared/search' %>
  </div>
  
  <div class='pull-right col-md-8 contact-link'>
    Didn&rsquo;t find what you were looking for?  Please <a href="/about/contact_us">contact us</a>! 
  </div>
</div>