<% Asset.new(JSON.parse(@document.instance_variable_get('@_source')['json'])).tap do |asset| %>
  <div id="content">
    <%= asset.id %>
  </div>
<% end %>

<br/>

<div class="container">
  <div class="row no-gutter">
    <%= render partial: 'shared/call_to_action' %>
  </div>
</div>