<% content_for(:page_title) do %>
  <%= "#{@about.title} | #{t('blacklight.application_name')}" %>
<% end %>

<h1>
  <%= @about.title %>
</h1>

<div class="container">
  <div class="row">  
    <div class="col-md-7">
      <%= @about.main_html.html_safe %>
    </div>
    <div class="col-md-4 pull-right">
      <p>
        TODO: nav goes here when that's merged.
      </p>
      <h4>Helpful Links</h4>
      <%= @about.links_html.html_safe %>    
    </div>
  </div>
</div>
