// Bootstrap config:

$grid-columns: 15;
$grid-gutter-width: 25px;
$container-large-desktop: (1200px + $grid-gutter-width);
$body-bg: #063763;
$screen-lg: 1250px; // Default is just 1200px, so our wide graphic was being chomped.

// Local variables:

$well-padding: 19px; // hardcoded internally.


// Imports:

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'blacklight/blacklight';


// CSS overrides:

.container {
  background: #DEE5F0;
  padding-top: 25px;
  padding-bottom: 25px;
}

#main-container {
  background: $body-bg;
}

.head {
  text-transform: uppercase;
  text-align: center;
  padding: 13px;
  margin: -$well-padding;
}

.body {
  padding-top: $well-padding;
}

#home-left .head {
  background: #F5BA55;
  color: #FFF
}

#home-right .head {
  background: #BDBA21;
  color: #FFF
}

.well, .constraints-container {
    border: none;
    box-shadow: none;
    border-radius: 0px;
}

nav, nav a {
  color: #dee5f0;
}

img {
  max-width: 100%;
}
