// Bootstrap config:

$grid-gutter-width: 25px;
$container-large-desktop: (1200px + $grid-gutter-width);
$screen-lg: $container-large-desktop; // Default is just 1200px, so our wide graphic was being chomped.

// Local variables:

$well-padding: 19px; // hardcoded internally.


// Imports:

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'blacklight/blacklight';


// CSS overrides:

.container {
    background: $light-blue;
    padding-top: 25px;
    padding-bottom: 25px;
}

#main-container {
    // so that sub-containers can be separated by background-blue.
    background: $body-bg;
}

.head {
    text-transform: uppercase;
}  

div.head {
    text-align: center;
    padding: 13px;
    margin: -$well-padding;
}

.body {
    margin-top: $well-padding * 2;
}

.btn {
    // TODO: This is stylish, but should buttons be more obvious?
    text-transform: uppercase;
    border-radius: 0px;
    border: none;
}

.btn-primary {
    background: #EA6014;
}

#home-left .head {
    background: #F5BA55;
    color: #FFF
}

#home-right .head {
    background: #BDBA21;
    color: #FFF
}

.well, .constraints-container {
    border: none;
    box-shadow: none;
    border-radius: 0px;
}

nav, nav a {
    color: #8FA6CF;
}

.blacklight-home nav a[href="/"] {
    display: none;
}

.container.top {
    background: $med-blue;
}

.top h1 {
    color: #fff;
}
.top p {
    color: $body-bg;
}

img {
    // Shrinks proportionally as div shrinks
    max-width: 100%;
}

a.thumb {
    color: #000;
}

input {
    background: #939598;
    color: #fff;
}

.blurb {
    font-family: serif;
    font-size: 25px;
    font-style: italic;
    color: #FFF;
}
