// Whitney:
@import url("http://cloud.typography.com/7419092/724404/css/fonts.css");

// Derivative of "Crimson Text"
@font-face {
    font-family: 'imsoncray-exttay-regular';
    src: url('/fonts/imsoncray-exttay/imsoncray-exttay-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'imsoncray-exttay-semibold';
    src: url('/fonts/imsoncray-exttay/imsoncray-exttay-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'imsoncray-exttay-semibolditalic';
    src: url('/fonts/imsoncray-exttay/imsoncray-exttay-semibolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}