#masthead {
  // override bootstrap .container style within #masthead
  .container {
    padding: 0;
    margin: 0;
    background: $med-blue;
  }

  // override bootstrap .row style within #masthead
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-color: $dark-blue; // Just so the out-links on the right are bounded.
  }

  .top-row {
    background: $med-blue;
    padding: 2em;
  }

  .tagline {
    font-family: 'Crimson Text', serif;
    font-size: 23px;
    font-style: italic;
    color: #FFF;
  }

  .call_to_action {
    margin: 20px 0px 20px 20px; // darkblue background around box.
  }
}