html > body {
    font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;  
}

p .tagline {
    font-family: 'Crimson Text', serif; 
    font-style: medium italic;
    font-size: 1.5em; /*24/16px*/;
    line-height:  2em; /*32/16px*/;
    color: #FFF;
}

h .box .header {
    font-style: semibold;
    font-size: 1.125em; /*18/16px*/;
    line-height:  1.375em; /*22/16px*/;
    text-transform: upper-case;
    text-align: centered;
    color: #FFF;
}

p .prompt {
    font-family: 'Crimson Text', serif; 
    font-style: regular;
    font-size: 0.9375em; /*15/16px*/;
    line-height: 1.375em; /*22/16px*/;
    color: #000;
}

.keyword {
    font-style: book;
    font-size: 1.125em; /*18/16px*/;
    color: #063763;
    background-color: #939598;
}

h .collection .name /*homepage*/ {
    font-style: semibold;
    font-size: 1.125em; /*18/16px*/;
    color: #000;
}

/*
  What's the intention here?
H “WGBH COLLECTION” {
font-family: Whitney; 
font-style: semibold;
font-size: 1em; 16/16px;
font-transform: upper-case;
color: #063763;
}*/

h .collection .name .big /*Collection page*/ {
    font-style: semibold;
    font-size: 4.5em; /*72/16px*/;
    text-transform: upper-case;
    color: #FFF;
}

p .collection .description {
    font-family: 'Crimson Text', serif;
    font-style: semibold;
    font-size: 1.375em; /*22/16px*/;
    line-height:  1.875em; /*30/16px*/;
    color: #FFF;
}

h .asset .id {
    font-style: medium;
    font-size: 1em; /*16/16px*/;
    color: #000;
}

// TODO: Is there a page level class that distinguishes this?
h .asset .id /*asset page*/{
    font-style: semibold;
    font-size: 1.25em; /*20/16px*/;
    color: #000;
}

h .asset .title /*asset page*/{
    font-style: semibold;
    font-size: 1.875em; /*30/16px*/;
    color: #000;
}

h .label {
    font-style: semibold;
    font-size: 0.875em; /*14/16px*/;
    color: #6D6E71;
    background-color: #E6E7E8;
}

p .description {
    font-style: medium;
    font-size: 1em; /*16/16px*/;
    line-height: 1.5em; /*24/16px*/;
    color: #000;
}


/*

Latest from design

P descriptionhome page{
font-family: Whitney;
font-style: medium;
font-size: 1em; 18/16px;
line-height: 1.12em; 24/16px;
color: #000;

}H Helpful Links collection page {
font-family: Whitney; 
font-style: medium;
font-size: 1.125em; 18/16px;
color: #000;
}

P main description collection page {
font-family: Whitney;
font-style: book;
font-size: 1.25 em; 20/16px;
line-height: 1.75em; 28/16px;
color: #000;
}

*/


@import "fonts";
@import "colors";
@import "utility";
@import "masthead";
@import "navbar";
@import "sidebox";
@import "collection";
