.call_to_action {
    background: $light-blue;
    .head {
        margin: 0px;
        background: $light-green;
        color: #FFF
    }
    .body {
        margin-top: 0px; // Override default of $well-padding * 2;
        background: $light-blue;
        .well {
            margin: $grid-gutter-width/2 $grid-gutter-width/4;
            border: 1px solid $light-grey;
            img {
                float: right;
                height: 2em;
            }
            a {
                color: $dark-blue;
            }
        }
        input {
            background: $almost-white;
            color: #000;
            width: 85%;
        }
        padding-bottom: $grid-gutter-width/4; // Last well was flush to bottom.
    }
}

.blacklight-collections-show, .blacklight-catalog-show {
    .call_to_action {
        .well {
            display: inline;
            width: 30%; // TODO: At 33% it wraps: maybe margins aren't being counted?
            float: left;
            position: relative;
            height: 7em;
        }
    }
}