.call_to_action {
    background: $light-blue;
    .head {
        margin: 0px;
        background: $light-green;
        color: #FFF
    }
    .body {
        margin-top: 0px; // Override default of $well-padding * 2;
        background: $light-blue;
        .well {
            margin: $gutter/2 $gutter/4;
            border: 1px solid $light-grey;
            img {
                float: right;
                height: 2em;
            }
        }
        input {
            background: $almost-white;
            color: #000;
            width: 85%;
        }
        padding-bottom: $gutter/4; // Last well was flush to bottom.
    }
}