.call_to_action {
    background: $light-blue;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    .head {
        margin: 0px;
        background: $light-green;
        color: #FFF
    }
    .body {
        margin-top: 0px; // Override default of $well-padding * 2;
        padding: $grid-gutter-width/2 0;
        background: $light-blue;
        .well {
            border: 1px solid $light-grey;
            img {
                float: right;
                height: 2em;
            }
            a {
                color: $dark-blue;
            }
        }
    }
    .well {
        // In sm and xs, table-cell display causes problems.
        @media (min-width: $screen-md-min) {
          height: 120px; // When narrower, need more vertical space.
          display: table-cell;
          vertical-align: middle;
        }
        @media (min-width: $screen-lg-min) {
          height: 90px;
          // Also gets table-cell and middle from other media.
        }
        
        a,form {
            // This is to get the content vertically aligned.
            display: table;
            span {
                display: table-cell; 
                vertical-align: middle;
                img {
                    padding-left: 0.2em;
                    min-width: 1.4em; // Squeezed in Chrome w/o this. No idea why.
                }
            }
        }
    }
}


.blacklight-home-index {
    .call_to_action .col-md-4 {
        display: block;
        width: 100%;
        float: none;
        .well {
            height: auto; 
            // As sidebar, don't use any more space than necessary.
            // This is a more specific rule which overrides settings above.
            display: block;
        }
    }
}