.blacklight-catalog-index {
    #content {
        background: #FFF;
        padding: $grid-gutter-width;
    }

    .search {
        // TODO: Copy and paste from call_to_action.css
        // ... but I didn't want to wrap in a well just to get that to apply.
        img {
            float: right;
            height: 2em;
        }
        input {
            background: $almost-white;
            color: #000;
            width: 85%;
        }
    }
    
    .page_links {
        .arrow {
            display: none;
        }
        a {
            &:hover {
                text-decoration: none;
            }
            .arrow {
                display: inline;
                color: #000;
            }
        }
    }
    
    #appliedParams,#sortAndPerPage  {
        background: #FFF;
        padding: 0 $grid-gutter-width;
        border: none;
    }
    
    #startOverLink,#per_page-dropdown {
        display: none;
    }
    
    #documents {
        .document {
            border: none;
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                width: 320px;
                float: left;
                margin: 10px;
            }
        }
        .document-counter {
            display: none;
        }
    }
    
    .video-container {
        width: 100%;
        // Ideally, these values would be calculated, so we'd get the 
        // desired aspect ratio, even if the scss variable changes,
        // but the math just wasn't working for me.
        // NOTE: For taller videos, the bottom is cut off.
        
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
            height: 180px; 
            width: 320px;
        }
        @media (min-width: $screen-md-min) { height: 138px; }
        @media (min-width: $screen-lg-min) { height: 182px; }
        overflow: hidden;
        video {
            // Crop out the narrow black bars on many clips.
            width: 102%;
            margin-left: -1%;
        }
    }
    
    .video-links {
        padding-top: 6px;
    }
    
}