.blacklight-collections-show {
    .head {
        text-transform: uppercase;
    }

    .tagline p {
        font-family: 'Crimson Text', serif;
        font-size: 23px;
        color: #FFF;
    }

    .call_to_action {
        .well {
            display: inline;
            width: 30%; // TODO: At 33% it wraps: maybe margins aren't being counted?
            float: left;
            position: relative;
            height: 7em;
        }
    }
}