.blacklight-collections-show {
    .container {
        .body {
            margin: $grid-gutter-width/2;
        }
        .sidebar {
            background: #FFF;
            margin-top: $grid-gutter-width;
            margin-left: $grid-gutter-width/2;
        }
    }
    
    
    .description {
        font-size: 20px;
        line-height: 28px;   
        color: #000;
    }
    
    .head {
        text-transform: uppercase;
    }
    
    #wgbh-collection {
        font-size: 16px;
        font-weight: 500;
    }
    
    h1 {
        font-size: 40px;
        font-weight: 500;
    }
    
    h3 { // ie, "Helpful Links"
        font-size: 21px;
        color: #000;
        font-weight: 500;
    }

    .tagline p {
        font-family: 'Crimson Text', serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        color: #FFF;
    }
    
    .splash {
        position: relative;
        padding-top: $grid-gutter-width/2;
        a {
            color: #FFF;
            padding: 1em;
            position: absolute; 
            bottom: $grid-gutter-width; 
            right: $grid-gutter-width*2; 
            background: $orange
        }
    }
    
    select {
        // At some point might replace with something facier, but good enough for now.
        font-size: 13px;
        font-weight: 500;
    }
}