#masthead {
  // override bootstrap .container style within #masthead
  .container {
    padding: 0;
    margin: 0;
    background: $med-blue;
  }

  // override bootstrap .row style within #masthead
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-color: $dark-blue; // Just so the out-links on the right are bounded.
  }

  .top-row {
    background: $med-blue;
    padding: 2em;
  }

  .tagline {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    color: #FFF;
    @media (min-width: $screen-lg-min) {
      font-size: 23px;
    }
    @media (max-width: $screen-md-max) {
      font-size: 20px;
    }
  }

  .call_to_action {
    @media (min-width: $screen-md-min) {
        height: 364px;
        .body { padding-bottom: 0px; } 
        // We get the padding we want by specifying height.
    }
    @media (min-width: $screen-lg-min) {
        height: 462px;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        .body .well {
            min-height: auto; // Save vertical space inside.
        } 
    }
  }
}
