.navbar {
    a:hover { 
        // Override more specific (li) blacklight defaults.
        color: #DEE5F0 !important;
        background-color: $dark-blue !important;
        text-decoration: none !important;
    }

    .contact {
        a { color: $light-green; }
    }

    li > a { 
        // Long match needed to make as specific as builtin.
        // Only applies to header; footer has "|" between links.
        //margin: $grid-gutter-width/2 $grid-gutter-width/2 0 $grid-gutter-width/2;
    }
    
    &#footer {
        margin: 0 $grid-gutter-width;
    }
    

    /* 
      These come from bootstrap/_grid.scss,
      but we don't want want everything else 
      that comes with being a container.
    
      Add back gutter width so we're flush to margin.
    */
    @media (min-width: $screen-sm-min) {
        width: $container-sm + $grid-gutter-width;
    }
    @media (min-width: $screen-md-min) {
        width: $container-md + $grid-gutter-width;
    }
    @media (min-width: $screen-lg-min) {
        width: $container-lg + $grid-gutter-width;
    }
    
    margin: 0px auto;
}