// Default style for search forms
.search_form {

  width: 100%;

  form {

    @include flexbox();
    @include flexbox-center-vert();

    input {
      background-color: $almost-white;
      color: #000;
      width: 100% !important;
      &[placeholder] {
          padding: 4px 8px;
      }
      &[type="submit"] {
          // !important to make sure it applies on search results page.
          background-image: url(/icon-search.png) !important;
          background-repeat: no-repeat !important;
          background-size: contain !important;
          background-color: inherit !important;
          border: none !important;
          width: 30px !important;
          margin-left: 5px;
      }
    }  
  } 
}


// // Override search_form width in #masthead
// #masthead .search_form {
//     @media (min-width: $screen-md-min) {
//         width: 200px;
//     }
//     @media (min-width: $screen-lg-min) {
//         width: 280px;
//     }
// }

// Override search_form width in #helpful-links
#helpful-links .search_form {
    width: 85%; // xs and sm.
    @media (min-width: $screen-md-min) {
        width: 240px;
    }
    @media (min-width: $screen-lg-min) {
        width: 330px;
    }
}

.search-header-form-and-contact {
  .contact {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
  }
}