.thumb {
    img {
        display: block;
        width: 400px; 
        // In md and lg, expands to fill space, though 400 px are not actually available.
        // In sm and xs, prevents the image from exanding to fill the entire column.
    }
    a {
        display: block;
        font-weight: bold;
        margin-top: 0.5em;
        color: $dark-blue; // This might apply to <a>s more generally
    }
    margin-bottom: 40px;
}