.thumb {
    img {
        display: block;
        width: 400px; 
        // In md and lg, expands to fill space, though 400 px are not actually available.
        // In sm and xs, prevents the image from exanding to fill the entire column.
    }
    .title {
        font-size: 20px;
        display: block;
        font-weight: 600;
        padding-top: 0.5em;
        color: $dark-blue; // This might apply to <a>s more generally
    }
    a {
        text-decoration: none;
        color: #000;
        .title:hover {
            text-decoration: underline;
        }
    }
    margin-bottom: $grid-gutter-width;
}